<?xml version='1.0' encoding='utf-8'?>
<widget id="ru.mashaproject" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Math</name>
    <description> Masha project simple math game for 1 schoole class.</description>
    <author email="masha@gmail.com" href="">
        Maria Goncharova
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
